body {
    font-family: Arial;
    background: #f3f6f9;
}

.chatbox {
    width: 400px;
    margin: 60px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

#chat {
    height: 250px;
    overflow-y: auto;
    margin-bottom: 10px;
}

input {
    width: 75%;
    padding: 8px;
}

button {
    padding: 8px;
    background: #4CAF50;
    color: white;
    border: none;
}

.note {
    font-size: 12px;
    color: gray;
}